<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#/store/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Masters</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#/store/unitmaster">
              <i class="bi bi-circle"></i><span>Unit Master</span>
            </a>
          </li>
          <li>
            <a href="#/store/productmaster">
              <i class="bi bi-circle"></i><span>Product Category</span>
            </a>
          </li>
          <li>
            <a href="#/store/productsubcategory">
              <i class="bi bi-circle"></i><span>Product Sub Category</span>
            </a>
          </li>
          <li>
            <a href="#/store/packagetype">
              <i class="bi bi-circle"></i><span>Package Type</span>
            </a>
          </li>
          <!-- <li>
            <a href="#/store/storemaster">
              <i class="bi bi-circle"></i><span>Store Master</span>
            </a>
          </li> -->
          <li>
            <a href="#/store/suppliers">
              <i class="bi bi-circle"></i><span>Suppliers</span>
            </a>
          </li>
        
        </ul>
      </li> 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#/store/itemlist">
          <i class="bi bi-cart"></i>
          <span>Item Master</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inout-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-truck"></i>
          <span>Inward-Outward</span>
          <i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="inout-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li >
            <a href="#/store/stockinfo">
              <!-- <i class="bi bi-layout-text-window-reverse"></i> -->
              <i class="bi bi-circle"></i>
              <span>Stock Register</span>
            </a>
          </li>
          <li >
            <a  href="#/store/in-out">
              <!-- <i class="bi bi-shuffle"></i> -->
              <i class="bi bi-circle"></i>
              <span>In/Out Master</span>
            </a>
          </li>
          <li >
            <a  href="#/store/inward">
              <!-- <i class="bi bi-journal-arrow-down"></i> -->
              <i class="bi bi-circle"></i>
              <span>Inward Entry</span>
            </a>
          </li>
          <li >
            <a  href="#/store/outward">
              <!-- <i class="bi bi-journal-arrow-up"></i> -->
              <i class="bi bi-circle"></i>
              <span>Outward Entry</span>
            </a>
          </li>
          <li >
            <a  href="#/store/transport">
              <!-- <i class="bi bi-truck"></i> -->
              <i class="bi bi-circle"></i>
              <span>Outward Order Details</span>
            </a>
          </li>
        
        </ul>
      </li> 
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#/store/itemadd">
          <i class="bi bi-cart-plus"></i>
          <span>Add Item</span>
        </a>
      </li> -->
       
      
    </ul> 
  </aside>